@font-face {
  font-family: "Rb2.1B";
  src: local("Rb2.1b"),
    url("./fonts/rene_bieder_-_rbno2.1b-black-webfont.woff2") format("woff2");
  font-weight: bold;
}

body,
html {
  width: 100vw;
  font-family: "Rb2.1b";
  overflow: hidden;

  /* The image used */
  background-image: url("./assets/bg.gif");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
